.text {
    margin-bottom: 70px;
    font-size: 100px;
}
.skills-section {
    background-color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
  }
  
  .skill {
    background-color: #333;
    margin: 0 10px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center
    ;
  }
  
  .skill:hover {
    transform: scale(1.05);
  }
  
  h1  {
    margin-bottom: 50px;
    font-size: xx-large;
    margin-left: 45%;
  }
  .circle{
  background-color: #a12b2b; 
  color: white; 
  padding: 20px; 
  text-align: center;
  border-radius: 50%; 
  width: 150px; 
  height: 150px; 
  line-height: 110px; 
  font-size: 24px;}
  .title{
    font-size: 30px;
  }
  .projects{
margin-top: 10%;
  }
  .project{
text-align: center;
margin-bottom: 3%;
font-size: 40px;
  }